<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta th:replace="~{parent/template::charset}">
    <meta th:replace="~{parent/template::viewport}">
    <title>INTERNAL SERVER ERROR</title>
    <link th:replace="~{parent/template::bootstrap}">
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/error.css"/>
</head>
<body>
    <div class="container">
        <a href="/" role="button">Volver</a>
    </div>
    <div class="main">
    </div>
</body>
</html>