body{
        background-image: url('../images/error.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #080E2A;
}