<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta th:replace="~{parent/template::charset}">
        <meta th:replace="~{parent/template::viewport}">
        <title>Crear Vuelo</title>
        <link th:replace="~{parent/template::bootstrap}">
    </head>
    <body>
        <!--NAVBAR-->
        <header th:replace="~{parent/template::header}"></header>

        <!--TITLE-->
        <div class="pt-4 container-fluid">
            <h2 class="pt-2  text-center"><strong>Programar Vuelo</strong></h2>
        </div>
        <!--PERSISTENCE STATUS ALERTS-->
        <!--EXITO-->
<!--        <div class="container-fluid col-lg-8 d-flex justify-content-center pt-3" th:if="${successMessage}">-->
        <div th:replace="~{/vuelosAlerts::success}"></div>
            <!--<div class="alert alert-success d-flex justify-content-center col-lg-8" role="alert">
                <span th:text="${successMessage}"></span>
            </div>-->
<!--        </div>-->
        <!--ERROR-->
<!--        <div class="container-fluid col-lg-8 d-flex justify-content-center pt-3" th:if="${global}">-->
        <div th:replace="~{/vuelosAlerts::error}"></div>
            <!--<div class="alert alert-danger d-flex justify-content-center col-lg-8" role="alert">
                <span th:text="${global.defaultMessage}"></span>
            </div>-->
<!--        </div>-->
        <!--FORM DIV-->
        <div class="container-fluid pt-4 col-lg-10 ">
            <!--NAVS NAC/INTER-->
            <ul class="nav nav-pills justify-content-center pt-3 pb-3">
                <li class="nav-item">
                    <a class="nav-link active" id="nacionales-tab" data-bs-toggle="tab" data-bs-target="#nac-tab"
                       type="button" role="tab" >Nacionales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="internacionales-tab"  data-bs-toggle="tab" data-bs-target="#internac-tab"
                       type="button" role="tab">Internacionales</a>
                </li>
            </ul>
            <div class="tab-content" id="tab-content">
                <div class="tab-pane fade show active" id="nac-tab" role="tabpanel" tabindex="0">
                    <div th:replace="~{/condicionNavTabs::navTabs(${'nacional'})}"></div>
                </div>
                <div class="tab-pane fade" id="internac-tab" role="tabpanel" tabindex="1">
                    <div th:replace="~{/condicionNavTabs::navTabs(${'internacional'})}"></div>
                </div>
            </div>
        </div>
        <!--JS-->
        <script th:replace="~{parent/template::js-bundle}"></script>
    </body>
</html>

<!--NAVS SALIDAS/ARRIBOS-->
<!--            <ul class="nav nav-tabs justify-content-center" id="formTabs" role="tablist">-->
<!--                <li class="nav-item" role="presentation">-->
<!--                    <a class="nav-link active" id="tab-saliente"  data-bs-toggle="tab" data-bs-target="#tab-saliente-form"-->
<!--                       type="button" role="tab" >Saliente</a>-->
<!--                </li>-->
<!--                <li class="nav-item" role="presentation">-->
<!--                    <a class="nav-link" id="tab-entrante"  data-bs-toggle="tab" data-bs-target="#tab-entrante-form"-->
<!--                       type="button" role="tab" >Entrante</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <div class="tab-content" id="tab-content">-->
<!--                <div class="tab-pane fade show active" id="tab-saliente-form" role="tabpanel" tabindex="0">-->
<!--                    <div th:replace="~{/nuevoVueloForm::nuevo-vuelo-form (${'saliente'})}"></div>-->
<!--                </div>-->
<!--                <div class="tab-pane fade" id="tab-entrante-form" role="tabpanel" tabindex="1">-->
<!--                    <div th:replace="~{/nuevoVueloForm::nuevo-vuelo-form (${'entrante'})}"></div>-->
<!--                </div>-->
<!--            </div>-->