<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Datos Impositivos</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            display: inline-block;
            width: 150px;
            text-align: left;
            padding: 8px;
        }

        th {
            font-weight: bold;
        }

        .acciones {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h2>Datos Impositivos</h2>
    <form th:action="@{/datosImpositivos}" th:object="${formBean}" method="post">
    <table>
        <thead>
            <tr>
                <th>IVA: %</th>
                <th>Tasa Aeroportuaria Nacional: $</th>
                <th>Tasa Aeroportuaria Internacional: USD</th>
                <th>Cotización Dólar: $</th>
                <th>Fecha Modificación: </th>
            </tr>
        </thead>
        <tbody>
            <tr>
				<td th:text="${ultimoRegistro != null ? ultimoRegistro.iva : ''}"></td>
				 <td th:text="${ultimoRegistro.tasaAeroportuariaNacional}"></td>
				 <td th:text="${ultimoRegistro.tasaAeroportuariaInternacional}"></td>
				 <td th:text="${ultimoRegistro.cotizacionDolar}"></td>
				  <td th:text="${ultimoRegistro.fechaModificacion}"></td>
			</tr>
        </tbody>
    </table>
     <table class="botones">
      <tr>
	      <td><input type="submit" name="action" value="Editar" /></td>
	       <td><input type="submit" name="action" value="Cancelar" /></td>
      </tr>
    </table>
    </form>
</body>
</html>

