<!--FORM-->
<div th:fragment="nuevo-vuelo-form(procedencia)" class="container col-lg-10 pt-4" xmlns:th="http://www.w3.org/1999/xhtml">
    <form th:action="@{/crearVuelo}" th:object="${formBean}" method="POST">
        <!--FECHA HORA DE PARTIDA-->
        <div class="row pb-3">
            <div class="col-lg-6">
                <label for="fechaPartida">Fecha de Partida:</label>
                <input type="date" th:field="*{fechaPartida}" id="fechaPartida" name="fechaPartida" value="${today}" min="${today}" max="${maxDate}" />
            </div>
            <div class="col-lg-6">
                <label for="horaPartida">Hora de Partida:</label>
                <input type="time" th:field="*{horaPartida}" id="horaPartida" name="horaPartida" step="60"/>
            </div>
        </div>
        <!--ORIGEN - DESTINO-->
        <div class="pb-2" th:switch="${procedencia}">
            <div class="row" th:case="'saliente'">
                <div class="col-lg-6" >
                    <select th:field="*{origenId}" id="origenSalienteId" class="form-select" aria-label="origenId">
                        <option th:value="${aeropuertoLocal.id}" th:text="' ('+${aeropuertoLocal.icao}+') '+ ${aeropuertoLocal.name}+' | '
                                        + ${aeropuertoLocal.city} +', ' +${aeropuertoLocal.country}" selected>Salida</option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <select th:field="*{destinoId}" id="destinoSalienteId" class="form-select" aria-label="destinoId">
                        <option th:value="null" th:text="Destino" selected></option>
                        <option th:each="aeropuerto : ${aeropuertos}"
                                th:value="${aeropuerto.id}"
                                th:text="' ('+${aeropuerto.icao}+') '+ ${aeropuerto.name}+' | '
                                        + ${aeropuerto.city} +', ' +${aeropuerto.country} "></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="pb-2" th:switch="${procedencia}">
            <div class="row" th:case="'entrante'">
                <div class="col-lg-6" >
                    <select th:field="*{origenId}" id="origenEntranteId" class="form-select" aria-label="origenId">
                        <option th:value="null" th:text="Salida" selected></option>
                        <option th:each="aeropuerto : ${aeropuertos}"
                                th:value="${aeropuerto.id}"
                                th:text="' ('+${aeropuerto.icao}+') '+ ${aeropuerto.name}+' | '
                                        + ${aeropuerto.city} +', ' +${aeropuerto.country} "></option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <select th:field="*{destinoId}" id="destinoEntranteId" class="form-select" aria-label="destinoId">
                        <option th:value="${aeropuertoLocal.id}" th:text="' ('+${aeropuertoLocal.icao}+') '+ ${aeropuertoLocal.name}+' | '
                                        + ${aeropuertoLocal.city} +', ' +${aeropuertoLocal.country}"
                                selected>Destino</option>
                    </select>
                </div>
            </div>
        </div>
        <!--AEROLINEA - AERONAVE-->
        <div class="row pb-2">
            <div class="col-lg-6">
                <select th:field="*{aerolineaId}" id="aerolineaId" class="form-select" aria-label="aerolineaId">
                    <option th:value="null" th:text="Aerolínea" selected></option>
                    <option th:each="aerolinea : ${aerolineas}"
                            th:value="${aerolinea.id}"
                            th:text="${aerolinea.nombre}"></option>
                </select>
            </div>
            <div class="col-lg-6">
                <select th:field="*{aeronaveId}"  id="aeronaveId" class="form-select" aria-label="aeronaveId">
                    <option th:value="null" th:text="Aeronave" selected></option>
                    <option th:each="aeronave : ${aeronaves}"
                            th:value="${aeronave.id}"
                            th:text="|${aeronave.modelo} \ Plazas: ${aeronave.capacidad}|"></option>
                </select>
            </div>
        </div>
        <!--PRECIO - SUBMIT-->
        <div class="row pb-2 align-items-end">
            <div class="col-lg-6">
                <label for="precioNeto" class="form-label">Precio Neto</label>
                <input type="number" th:field="*{precio}" class="form-control" id="precioNeto">
            </div>
            <div class="col-lg-6">
                <label for="precioTotal" class="form-label">Precio Final</label>
                <input type="number" th:field="*{precio}" class="form-control" id="precioTotal">
            </div>
        </div>
        <div class="col d-flex justify-content-center pt-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
